body{
    background-color: rgb(28, 28, 118);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 600px;
}

.container{
    max-width: 1000px;
    background-color: white;
    border-radius: 10px;
}