
body{
    font-family: 'Courier New', Courier, monospace;
}

#header{
    background-color:black;
    color: white;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;
    

}
.mid{
    margin-bottom: 2%;
}
.info{
    margin-right: 2%;
    
}
#content{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 0px;
}
#projects{
    margin-top: 10%  ;
}
.p{
    display: inline-block;
    margin-right:5%;
    margin-left:5%;
    width:200px;

}
#contactme{
    margin-top:10%;
    
}
.contacts{
   margin-bottom: 1%;
   width: 25%;
   height:40px;
 
}
#smbutton{
    width:25%;
    background-color: black;
    color: white;
    height:40px;
}

#footer{
    background-color: black;
    color :white;
    margin-top: 8%;
    margin-bottom: 0px;
    height:100px;
    text-align: center;
    padding-top: 80px;
}

