/* Full page section */
.promo-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
}

/* The colored box */
.promo-box {
    background: oklch(29.74% .0362 281.74deg);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Moderate size */
    max-width: 1100px;
    width: 100%;
    padding: 2rem;
    border-radius: 20px;
    gap: 2rem;
}

/* LEFT SIDE */
.promo-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: left;
}

.promo-title {
    font-size: 2rem;
    margin: 0;
}

.promo-desc {
    font-size: 1rem;
    margin: 0;
}

/* Feature grid */
.promo-features {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.promo-features li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.purple {
    background: oklch(80% 0.12 293deg);
}

.green {
    background: oklch(80% 0.12 150deg);
}

.orange {
    background: oklch(80% 0.12 70deg);
}

.teal {
    background: oklch(80% 0.12 200deg);
}

/* CTA */
.promo-cta {
    display: flex;
    flex-direction: column;
    /* Stack vertically */
    align-items: flex-start;
    /* Align left */
    gap: 0.5rem;
    /* Space between button and price */
}

.cta-btn {
    background: oklch(100% 0 0deg);
    color: black;
    padding: 0.7rem 1.4rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 550;
    width: 170px;
    font-family: "Udemy Sans",
        "Vazirmatn",
        "SF Pro Text",
        -apple-system,
        BlinkMacSystemFont,
        Roboto,
        "Segoe UI",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
}

.cta-btn:hover {
    background: #f2f2f2;
}

.price-text {
    font-size: 0.82rem;
    font-weight: lighter;
    color: oklch(86.72% 0.0192 282.72deg);
}

/* RIGHT SIDE IMAGE */
.promo-right {
    flex: 0.9;
    display: flex;
    justify-content: center;
}

.promo-right img {
    width: 600px;
    max-width: 1500px;
    border-radius: 12px;
    object-fit: cover;
}

.promo-title {
    font-family: "Udemy Sans", "Vazirmatn", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 2rem;
    margin: 0;
    color: white;
}


.promo-desc {
    font-size: 0.8rem;
    margin: 0;
    color: oklch(86.72% 0.0192 282.72deg);
}

.promo-features li span {
    color: white;
    font-size: 0.9rem;
    font-weight: lighter;
    font-family: "Udemy Sans", "Vazirmatn", "SF Pro Text", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}